
 <div class="row col-md-12">
                    <div class="row">
                        <%= render partial: 'users/buyers/navbar' %>
                         
                        <div class="col-lg-12">
    <!-- beginning of left panel-->
                       <%= render partial: 'users/buyers/account_sidenav' %>


    <!-- end of left panel, beginning of right panel--> 
                    <div class="col-lg-10 no-pad left-pad-2">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Personal Info</a></li>
                                <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Company Info</a></li>
                                <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Sourcing Info</a></li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="home">
                                    <h4>Manage Personal Info.</h4>
                                    <table class="table table-bordered">
                                       <tr>
                                        <td>Account type</td>
                                        <td><%= @buyer.account_type %></td>
                                       </tr>
                                       <tr>
                                        <td>Member ID</td>
                                        <td><%= @buyer.member_id %></td>
                                       </tr>
                                       <tr>
                                        <td>Email Address</td>
                                        <td><%= @buyer.email %></td>
                                       </tr>
                                       <tr>
                                        <td>Full Name</td>
                                        <td><%= @buyer.full_name %></td>
                                       </tr>
                                        <tr>
                                        <td>City / Town</td>
                                        <td><%= @buyer.city %></td>
                                       </tr>
                                       <tr>
                                        <td>Province / State</td>
                                        <td><%= @buyer.state %></td>
                                       </tr>
                                       <tr>
                                        <td>Country / Region</td>
                                        <td><%= @buyer.country %></td>
                                       </tr>
                                       <tr>
                                        <td>Telephone</td>
                                        <td><%= @buyer.phone_number %></td>
                                       </tr>
                                     </table>
                                     <%= link_to "<i class='fa fa-pencil'></i> Edit".html_safe, edit_user_path(@buyer.id), class: 'btn btn-sm btn-danger' %>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="profile">
                                    <h4>Manage Personal Info.</h4>
                                    <table class="table table-bordered">
                                       <tr>
                                        <td>Company Name</td>
                                        <td><%= @buyer.company.name %></td>
                                       </tr>
                                       <tr>
                                        <td>Bussiness Type</td>
                                        <td><%= @buyer.company.business_type %></td>
                                       </tr>
                                       <tr>
                                        <td>Business Range</td>
                                        <td><%=  @buyer.company.categories.select(:name).join(',') %></td>
                                       </tr>
                                       <tr>
                                        <td>Profile</td>
                                        <td><%=  @buyer.company.profile %></td>
                                       </tr>
                                       <tr>
                                        <td>Number of Employees</td>
                                        <td><%= @buyer.company.number_of_employees %></td>
                                       </tr>
                                        <tr>
                                        <td>Website</td>
                                        <td><%= @buyer.company.website %></td>
                                       </tr>
                                       <tr>
                                        <td>Tradmark</td>
                                        <td><%= @buyer.company.trademark %></td>
                                       </tr>
                                     </table>
                                     <%= link_to "<i class='fa fa-pencil'></i> Edit".html_safe, edit_company_path(@buyer.company.id), class: 'btn btn-sm btn-danger' %>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="messages">...</div>
                            </div>
                    </div>
    <!-- end of right panel-->
                        <div class="col-lg-12"> 
                        <div class="row top-pad ">
							<div class="col-lg-2"></div>
                            <div class="col-lg-9">
                               <div class="row pad">
                                        <div class="col-lg-11">
                                            <h5>This is not what you are looking for? <span class="red"><i class="fa fa-podcast" aria-hidden="true"></i>  Post Sourcing Request to Source now</span>
                                            </h5>
                                            <h5 class="n-pad"><i class="fa fa-envelope-open-o" aria-hidden="true"></i> Trade Alert: delivering the latest product Trends &amp; Industry News straight to your inbox</h5>
                                        </div>
                                        <div  class="col-lg-1"></div>
                                        <div class="col-lg-8">
                                            <div class="input">
                                                <input type="text" class="form-control" placeholder="Your Email" aria-describedby="basic-addon2">
                                            </div>
                                        </div>

                                        <div class="col-lg-2 ">
                                            <button type="button" class="btn btn-block bg-red wyt b-red">Subscribe</button>
                                        </div>
                                    </div>
                            </div>
                        </div>
					</div> 

                        </div>
                    </div>
                    </div>