
  <%= simple_form_for(user, html: { class: 'form-horizontal' }) do |f| %>
    <% if user.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
          <% user.errors.full_messages.each do |message| %>
            <li>
              <%= message %>
            </li>
            <% end %>
        </ul>
      </div>
      <% end %>
      <% if user.new_record? %>
          <div class="nav-holder page13">
            <p><strong>Registeration Details</strong></p>
          </div>
          <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-6">
              <div class="form-group">
                <%= f.input :email, input_html: { class: "form-control", id: "sellerEmail1" }, placeholder: "Email" %>
              </div>
              <div class="form-group">
                <%= f.input :password, input_html: { class: "form-control", id: "password" }, placeholder: "Password" %>
              </div>
              <div class="form-group">
                <%= f.input :password_confirmation, input_html: { class: "form-control", id:"confirmPassword" }, placeholder:"Confirm Password" %>
              </div>
            </div>
          </div>
       <% end %> 
        <div class="nav-holder page13">
          <p><strong> User Details</strong></p>
        </div>
        <div class="row">
          <div class="col-lg-1"></div>
          <div class="col-lg-6">

            <div class="form-group">
              <div class="row">

                <div class="col-xs-2">
                  <%= f.input :title, collection: [ "Mr", "Mrs", "Miss"], input_html: { class: "form-control" } %>
                </div>
                <div class="col-xs-5">
                  <%= f.input :first_name, input_html: {  class:"form-control", id:"sellerFullName" }, placeholder:"First Name" %>
                </div>
                <div class="col-xs-5">

                  <%= f.input :last_name, input_html: { class:"form-control", id:"sellerFullName" }, placeholder:"Last Name (Surname)" %>
                </div>
              </div>
            </div>


            <div class="form-group">
              <%= f.input :job_title, input_html: { class:"form-control" }, collection: [ "Teacher", "Farmer", "Doctor" ], include_blank: false %>
            </div>
            <div class="form-group">
              <%= f.input :account_type,  collection: [['Buyer', "buyer"], ['Suppliyer', "suppliyer"]], include_blank: false, input_html: { class: "form-control" }   %>
            </div>

            <div class="form-group">
              <%= f.input :country, input_html: { class:"form-control", id:"serLocation" } %>
            </div>

            <div class="form-group">
              <%= f.input :company_name, input_html: { class:"form-control", id:"sellerCompanyName" }, placeholder:"Company Name" %>
            </div>

            <div class="form-group">
              <div class="row">
                <div class="col-xs-8">
                  <%= f.input :state, input_html: { class:"form-control" }, collection: [ "Lagos", "Abuja", "Port" ] %>
                </div>
                <div class="col-xs-4">
                  <%= f.input :city, input_html: { class: "form-control" }, placeholder: "City" %>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="row">
                <div class="col-xs-12">
                  <%= f.input :phone_number, input_html: { class: "form-control" }, placeholder:"Telephone Number" %>
                </div>
              </div>
            </div>

          </div>
        </div>
       
        <div class="row">
          <div class="col-lg-1"></div>
          <div class="checkbox col-lg-11">
            <label>
                <input type="checkbox" value="" checked>
                I confirm that i have read and understood the privacy policy and i expressly give my consent to<br>the collection,use and disclosure of my personal data by you for the purpose set out in the<br>privacy policy.
            </label>
          </div>
        </div>
        <div class="row"> 
          <div class="col-lg-1">
            <%= f.button :submit, "Submit",  class:"btn btn-primary btn-lg center"  %>
          </div>
        </div>
        <% end %>

