  <% @categories.each do |category| %>
    <details>
        <summary><%= category.name %></summary>
         <% category.children.each do |a| %>
          <details class="children">
           <summary>
            <%= a.name %>  
            <%= link_to "Add root category", new_category_path(:category_id => a.id),  class: "add-category", remote: true  %>
           </summary>
              <% a.children.each do |b| %>
                <details class="children">
                <summary>
                    <%= b.name %> 
                    <%= link_to "Add root category", new_category_path(:category_id => b.id), class: "add-category", remote: true  %>
                </summary>
                </details>
              <% end %>  
          </details>
        <% end %> 
    </details>
  <% end %>
  <%= link_to "Add root category", new_category_path, class: "add-category", remote: true  %>



 <!-- Modal -->
  <div class="modal fade" id="modal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body" id="modal-body">
         
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>

