<%= form_for(product, html: { multipart: true }) do |f| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>


  <div class="field">
    <%= f.label :title %>
    <%= f.file_field :pictures, multiple: true, accept: "image/jpeg, image/jpg, image/gif, image/png" %>
  </div>

  <div class="field">
    <%= f.label :place_of_origin %>
    <%= f.text_field :place_of_origin %>
  </div>

  <div class="field">
    <%= f.label :size %>
    <%= f.text_field :size %>
  </div>

  <div class="field">
    <%= f.label :packings %>
    <%= f.text_area :packings %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :features %>
    <%= f.text_area :features %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
